<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faytech.bluetooth">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Establish Bluetooth connection and transmission permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Scan Bluetooth devices or modify Bluetooth settings permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android 6.0 and later versions scan Bluetooth and need positioning permission (enter GPS settings and you can see Bluetooth positioning) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- required=true means the phone must support BLE, otherwise it cannot be installed and run -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name=".APP"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bt.BtClientActivity"
            android:label="@string/bt_client"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".ble.BleClientActivity"
            android:label="@string/ble_client" />

    </application>

</manifest>